<%- include('../../../../../includes/header.ejs') %>
<%- include('../../../../../includes/navigation.ejs') %>

<div class="container">
  <header class="mt-5 mb-5">
    <h3>Contact toevoegen</h3>
  </header>
  <form action="/portal/customers/contacts/<%= contact[0].id %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <% if(typeof errorMessage == "undefined"){ %>

    <% } else { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= errorMessage %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <%}%>
    <h5>Algemene informatie</h5>
    <div class="input-group mb-3">
      <span class="input-group-text" id="voornaam">Voornaam <span style="color: red;">*</span></span>
      <input type="text" class="form-control" placeholder="Voornaam" aria-label="voornaam" name="voornaam"
        aria-describedby="voornaam" value="<%=contact[0].voornaam %>" >
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="achternaam">Achternaam</span>
  <input type="text" class="form-control" placeholder="Achternaam" value="<%=contact[0].achternaam %>"
    aria-label="achternaam" name="achternaam" aria-describedby="achternaam">
</div>
<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Geslacht</label>
  <select class="form-select" id="inputGroupSelect01" name="geslacht">
    <%
      let options = [ "", "Man", "Vrouw", "Onbekend" ];
      for ( let i = 0; i < options.length; i++ ) {
        let selected = (options[i] === contact[0].geslacht) ? "selected" : "";
    %><option value="<%=options[i] %>" <%=selected %>><%= options[i] %></option><%
    }
    %>
  </select>

</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="telefoonnummer1">Telefoonnummer 1 <span style="color: red;">*</span></span>
  <input type="text" class="form-control" placeholder="Telefoonnummer 1" value="<%=contact[0].telefoonnummer1 %>"
    aria-label="telefoonnummer1" name="telefoonnummer1" aria-describedby="telefoonnummer1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="telefoonnummer2">Telefoonnummer 2</span>
  <input type="text" class="form-control" placeholder="Telefoonnummer 2" value="<%=contact[0].telefoonnummer2 %>"
    aria-label="telefoonnummer2" name="telefoonnummer2" aria-describedby="telefoonnummer2">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="emailadres">E-mailadres <span style="color: red;">*</span></span>
  <input type="email" class="form-control" placeholder="E-mailadres" aria-label="emailadres"
    value="<%=contact[0].emailadres %>" name="emailadres" aria-describedby="emailadres">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="functie">Functie</span>
  <input type="text" class="form-control" placeholder="Functie" value="<%=contact[0].functie %>" aria-label="functie"
    name="functie" aria-describedby="functie">
</div>
<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect02">Beslissingsbevoegd</label>
  <select class="form-select" id="inputGroupSelect02" name="beslissingsbevoegd">
    <%
    let options2 = [["Nee", 0], ["Ja", 1]]
    for (let i = 0; i < options2.length; i++) {
      let selected = (contact[0].beslissingsbevoegd) ? "selected" : "";
    %><option value="<%=options2[i][1]%>" <%=selected %>><%= options2[i][0] %></option><%
    }
    %>
  </select>
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Opmerkingen</span>
  <textarea class="form-control" name="remarks" aria-label="Opmerkingen"><%=contact[0].remarks %></textarea>
</div>
<div class="row" mt-3 mb-3>

  <div class="col">
    <button type="submit" class="btn btn-primary">Opslaan</button>
    <a href="/portal/customers/contacts/<%= contact[0].CustomerId %>" class="btn btn-danger">Annuleren</a>
  </div>
</div>
</form>

</div>

<%- include('../../../../../includes/footer.ejs') %>