<%- include('../../../includes/header.ejs') %>

<div class="container">
  <header class="mt-5 mb-5">
    <h3>User management</h3>
  </header>
  <div class="row mt-3 mb-3">
    <div class="col">
      <a href="/portal/users/add" class="btn btn-primary">+ Gebruiker toevoegen</a>
    </div>
  </div>

  <table class="table table-sm" id="userTable">
    <caption>Lijst van gebruikers</caption>
    <thead>
      <tr>
        <th scope="col">UserID</th>
        <th scope="col">Voornaam</th>
        <th scope="col">Achternaam</th>
        <th scope="col">Emailadres</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < users.length; i++) { %>
      <tr>
        <th scope="row"><%= users[i].id %></th>
        <td><%= users[i].voornaam %></td>
        <td><%= users[i].achternaam %></td>
        <td><%= users[i].emailadres %></td>
        <td><a href="/portal/users/edit/<%= users[i].id %>" class="btn btn-secondary">Bewerken</a></td>
      </tr>
      <% } %>

    </tbody>
  </table>

</div>

<%- include('../../../includes/footer.ejs') %>